<p id="notice"><%= notice %></p>

<h1>Tasklistings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasklistings.each do |tasklisting| %>
      <tr>
        <td><%= tasklisting.name %></td>
        <td><%= tasklisting.count %></td>
        <td><%= link_to 'Show', tasklisting %></td>
        <td><%= link_to 'Edit', edit_tasklisting_path(tasklisting) %></td>
        <td><%= link_to 'Destroy', tasklisting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tasklisting', new_tasklisting_path %>
